/*相談窓口登録ページ*/

/* 新規登録・仮登録ページ共通 */
.register_header{
text-align: center;
font-size: 2em;
font-weight: bold;
margin: 5em 0 2em 0;
color: #666;
}

.register_header span{
color: #1e90ff;
}

.consult_window_register {
  margin-top: 1em;
  margin-bottom: 2em;
  width: 100%;
  color: #666;
  min-height: 100vh;
}

.consult_window_register h2{
  margin: 2em;
}

.consult_window_register .form_container{
  padding: 1em;
  margin-right: 2em;
  margin-left: 2em;
  padding-right: 1em;
  padding-left: 1em;
  background-color: white;
  border-radius: 4px;
}

.consult_window_register .form_container .form_item{
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.consult_window_register .form_container .form_item .text_input label{
  font-size: 1.2em;
  font-weight: bold;
}

.consult_window_register .form_container .form_item .text_input input,
.consult_window_register .form_container .form_item .text_input select{
background: #F1F9FF;
border: 2px solid #2699FB;
border-radius: 4px;
color: #666;
font-family: 'Open Sans', sans-serif;
font-size: 1.2em;
height: 50px;
width: 100%;  
padding: .5em;
}

.consult_window_register .form_container .form_item .text_input input:focus,
.consult_window_register .form_container .form_item .text_input textarea:focus,
.consult_window_register .form_container .form_item .text_input select:focus{
border: 4px solid #2699FB;
outline: none;
}

.consult_window_register .form_item .text_input textarea{
background: #F1F9FF;
border: 2px solid #2699FB;
border-radius: 4px;
color: #666;
font-family: 'Open Sans', sans-serif;
font-size: 1.2em;
height: 200px;
width: 100%;  
padding: .5em;
}

.consult_window_register .form_item .text_input input:-webkit-autofill,
.consult_window_register .form_item .text_input textarea:-webkit-autofill{
  box-shadow: 0 0 0 1000px white inset;
}

/* カテゴリデザイン */
.big_category label {
  font-size: 1.2em;
  font-weight: bold;
}

.small_category_wrap{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.small_category label {
  display: block;
  position: relative;
  margin: 4px;
  padding: 5px 10px 5px 10px;
  border: 3px solid #2699FB;
  border-radius: 100px;
  font-size: 0.8em;
  font-weight: bold;
  color: #666;
  background-color: #fff;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

.small_category label:hover, 
.small_category input:focus + label {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

.small_category input {
  position: absolute;
  left: -9999px;
}

.small_category input:checked + label {
  color: #fff;
  background-color: #2699FB;
}

.submit{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.submit_btn{
  width: 5em;
  min-width: 150px;
  display: inline-block;
  border-radius: .5em;
  background-color: #2699FB;
  border: 2px solid #2699FB;
  text-align: center;
  padding: .5em 1em;
  margin: 2em 0;
  font-size: 1.2em;
  cursor: pointer;
  color: white;
  transition: .5s;
}

.return_btn{
  width: 5em;
  min-width: 150px;
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(150, 150, 150);
  border: 2px solid rgb(150, 150, 150);
  text-align: center;
  padding: .5em 1em;
  margin: 2em 2em;
  font-size: 1.2em;
  cursor: pointer;
  color: white;
  transition: .5s;
}

.submit_btn.confirmed{
  background-color: red;
}

.submit_btn:hover,
.return_btn:hover{
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.login_page_copyright{
text-align: center;
margin-top: 4em;
color: #2699FB;
}