.create_btn{
    margin: 1.2em 1em;
    text-align: right;
}

.create_btn a{
    color: white;
    background-color: tomato;
    font-size: 1.4em;
    border-radius: 1em;
    padding: .5em 1em;
    font-weight: bold;
    text-align: left;
    box-shadow: 2px 2px 2px #C0C0C0;
    transition: .5s;
}

.create_btn a:hover{
    box-shadow: 6px 6px 12px #C0C0C0;
}

.mypage{
    width: 100%;
    padding: 0 1em;
}

.mypage p,
.mypage h3,
.mypage h2{
    color: #666;
}

.mypage .profile{
    display: flex;
    justify-content: left;
    background-color: white;
    flex-wrap: wrap;
    padding: 1em;
    border-radius: 4px 4px 0 0;
}

.mypage .profile .icon,
.mypage .profile .content,
.mypage .profile .introduction{
    margin: auto 2em;
}

.mypage .profile .icon{
    width:150px;
    height : 150px;
    border-radius: 50%;
  }

.mypage .profile .icon img{
    width: 70%;
    height: 70%;
    min-width: 150px;
    min-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 3px solid #2699FB;
}

.mypage .profile .content .name{
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;
}

.mypage .profile .content .user_id{
    margin-bottom: 1em;
    font-size: 0.9em;
}

.mypage .profile .content .company,
.mypage .profile .content .industory,
.mypage .profile .content .occupation,
.mypage .profile .content .position,
.mypage .profile .content .user_id{
    line-height: 1.1em;
}

.mypage .edit_profile{
    margin-left: auto;
}

.mypage .edit_profile a{
    color: #666;
    padding: 0 .5em .25em .5em;
}

.mypage .edit_profile a:hover{
    border-bottom: 2px solid #2699FB;
}

.mypage .specialized_field{
    background-color: white;
    padding: 1em;   
}

.mypage .specialized_field .tag_flex{
    display: flex;
    flex-wrap: wrap;
    justify-items: start;
    padding-left: 1em;
}

.mypage .specialized_field h3{
    margin: 1em 1em .5em 1em;
    border-bottom: 1px solid #2699FB;
}

.mypage .specialized_field p{
    line-height: 1.2em;
    margin-right: .5em;
    padding: .5em 1em;
    border-radius: 1em;
    background-color: #2699FB;
    color: white;
}

.mypage .introduction,
.mypage .archivement{
    border-radius: 0 0 4px 4px;
    background-color: white;
    padding: 1em;
}

.mypage .introduction{
    border-radius: 0;
}

.mypage .introduction h3,
.mypage .archivement h3{
    margin: 1em 1em .5em 1em;
    border-bottom: 1px solid #2699FB;
}

.mypage .introduction p,
.mypage .archivement p{
    line-height: 1.1em;
    margin-right: 1em;
    margin-left: 1em;
}

.mypage .consult_window{
    margin-top: 2em;
    margin-bottom: 2em;
}

.mypage .consult_window .switch_tab{
    display: flex;
    justify-content: start;
}

.mypage .consult_window .switch_tab .applyed.active,
.mypage .consult_window .switch_tab .created.active{
    border-radius: 4px 4px 0 0;
    background-color: #2699FB;
    padding: .5em 1em;
}

.mypage .consult_window .switch_tab .applyed.active p,
.mypage .consult_window .switch_tab .created.active p{
    color: white;
    font-weight: bold;
}

.mypage .consult_window .switch_tab .applyed,
.mypage .consult_window .switch_tab .created{
    border-radius: 4px 4px 0 0;
    background-color: #EBEBEB;
    padding: .5em 1em;
}

.mypage .consult_window .switch_tab .applyed:hover,
.mypage .consult_window .switch_tab .created:hover{
    cursor: pointer;
}

.mypage .consult_window .switch_tab .applyed p,
.mypage .consult_window .switch_tab .created p{
    color: #666;
}

.mypage .consult_window .consult_window_container{
    width: 100%;
    background-color: white;
    border-radius: 0 0 4px 4px;
    border: 3px solid #2699FB;
}

.mypage .consult_window .consult_window_container .consutl_windodw_flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 10px 60px 10px;  
}

.mypage .consult_window .consult_window_container .consutl_windodw_flex .discription h3{
    font-size: 18px;
}

.mypage .consult_window .consult_window_container .consutl_windodw_flex h3, .flex_block p{
    color: #666;
}

.mypage .consult_window .consult_window_container .consutl_windodw_flex .article{
    width: 250px;
    height : 250px;
    background:white;
    box-sizing: border-box;
    border-radius: 4px;
    margin: .5em; 
    text-align: left;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.mypage .consult_window .consult_window_container .consutl_windodw_flex .article:hover{
    box-shadow: 2px 2px 4px #C0C0C0;
}

.mypage .consult_window .consult_window_container .consutl_windodw_flex .discription{
    margin: 0 8px 0 8px;
}

.mypage .consult_window .consult_window_container .consutl_windodw_flex .article .contain_img{
    width: 70%;
    height: 70%;
    min-width: 150px;
    min-height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 3px solid #2699FB;
}

.mypage .consult_window .consult_window_container .consutl_windodw_flex .article .presenter_flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
    position: absolute;
    bottom: 3%;
    right: 3%;
}

.mypage .consult_window .consult_window_container .consutl_windodw_flex .article .presenter_flex p{
    line-height: 1em;
    margin-left: 1em;
    color: #666;
    font-weight: bold;
}