/* トップページ */

.article_search,
.recommend_article,
.attention_article{
    margin-bottom: 64px;
}

.article_search_title,
.recommend_article_title,
.attention_article_title,
.up_to_date_article_title{
    margin:64px auto 0 24px;
    font-size: 2.5em;
    color: #666;
}

.attention_article_title{
  margin-top: 0px;
}

main .up_to_date_article_title{
  margin-top: 128px;
}

/* スプリットビュー */
main .split{
  display: table;
  width: 100%;
  margin-top: 16px;
}

main .split .split_item{
  display: table-cell;
}

main .split .split_left{
  width: 300px;
}

main .split .split_left .split_left_inner{
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  overflow-y: auto;
  height: 70vh;
  margin-left: 1em;
}

main .split .split_right{
  width: auto;
}

/* 記事カード */
.flex_block{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 10px 60px 10px;
}

.flex_block .discription h3{
  font-size: 1.2em;
  color: #666;
  font-weight: bold;
  /* 以下IE非対応らしいので、要検討 */
  display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.flex_block h3, .flex_block p{
    color: #666;
}

.flex_block .article{
  width: 250px;
  height : 250px;
  background:white;
  box-sizing: border-box;
  border-radius: 4px;
  margin: .5em; 
  text-align: left;
  position: relative;
  box-shadow: 2px 2px 2px #C0C0C0;
  overflow: hidden;
  transition: 0.3s;
}

.flex_block .article:hover,
.slide_show_block .article:hover{
    box-shadow: 6px 6px 12px #C0C0C0;
}

.flex_block .discription,
.slide_show_block .discription{
  margin: 0 8px 0 8px;
}

.flex_block .article .contain_img{
    width: 175px;
    height: 175px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 3px solid #2699FB;
}

.flex_block .article .article_info_flex p,
.flex_block .article h3{
  line-height: 1em;
}

.flex_block .article .presenter_flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
  position: absolute;
  bottom: 3%;
  right: 3%;
}

.flex_block .article .presenter_flex .presenter_icon,
.slide_show_block .article .presenter_flex .presenter_icon{
  width:32px;
  height : 32px;
  border-radius: 50%;
}

.flex_block .article .presenter_flex p,
.slide_show_block .article .presenter_flex p{
  line-height: 1em;
  margin-left: 1em;
  color: #666;
}

/* カテゴリ検索欄 */
main .split .split_left .split_left_inner .category_contena input{
    background-color: #EBEBEB;
    color: #666;
    border: none;
    font-size: 1.5em;
}

main .split .split_left .split_left_inner .category_contena .big_category{
  font-weight: bold;
  margin-bottom: 1em;
}

main .split .split_left .split_left_inner .category_contena .big_category input:hover{
  cursor:default;
}

main .split .split_left .split_left_inner .category_contena input:hover{
    cursor: pointer;
}

main .split .split_left .split_left_inner li{
    list-style: none;
}

main .split .split_left .split_left_inner .small_category{
    margin-left: 24px;
}

main .split .split_left .split_left_inner a{
    color: #666;
    font-weight: lighter;
}

main .split .split_left .split_left_inner a:hover{
  color: #2699FB;
}