option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: root.wsgi:application
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PORT
    value: 8000
  - namespace: aws:elasticbeanstalk:environment:proxy:staticfiles
    option_name: /static
    value: static
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DJANGO_SETTINGS_MODULE
    value: root.settings
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SECRET_KEY
    value: django-insecure-an)d383q66a%4doo4(t1_iut-xcapi87m+rph*na-v@un=d3uu
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: EB_ENV_DEBUG
    value: False
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: EXECUTION_ENVIRONMENT
    value: prd
container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
