<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="discription" content="ログインページ">
    <title>Login</title>
    
    <link rel="stylesheet" href="{% static 'sharetech/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'sharetech/css/login.css' %}">
</head>

<body>
    <header class="login_header">
        <h1>
            <img src="{% static 'sharetech/img/logo.png' %}">
        </h1>
    </header>

    <main>
        <!--ログインフォーム-->
        <div class="form_wrapper">
            <h1>LP</h1>
            <a href="{% url 'login' %}">login</a>
        </div>
    </main>

    <footer>
        <div class="login_page_copyright"><p>© 2021 Joshisukun, INC.</p></div>
    </footer>
</body>