{% load static %}
<footer class="page_footer">
    <div class="footer_list">
        <ul>
            <li>
                <a href="">シェアテックについて</a>
            </li>
            <li>
                <a href="{% url 'rule' %}">利用規約</a>
            </li>
            <li>
                <a href="https://www.wrike.com/frontend/requestforms/index.html?token=eyJhY2NvdW50SWQiOjQzMzUzNjEsInRhc2tGb3JtSWQiOjU5OTYyNn0JNDc5MTY3NzYzNjk4Ngk3NjAxZDQyZTNlMDUwNmJmNTgwMzFlMWM5ZDVhODkyNThhNmEzYjlhMWM5MjlmMGNkN2E1YWVhNWE2MWYxNDgy">お問い合せ</a>
            </li>
        </ul>
    </div>
    <p class="copy_write">©2021 ShareTech Co., Ltd., All rights reserved</p>
</footer>
