<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="discription" content="相談窓口登録ページ">
    <title>Adviser_Register</title>
    <link rel="stylesheet" href="{% static 'sharetech/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'sharetech/css/register.css' %}">
</head>

<body>
    <header class="register_header">
        <h1>
            Wellcome to <span>SHARE TECH</span>!
        </h1>
    </header>

    <main>
        <!--ログインフォーム-->
        <div class="form_wrapper">
            <h3>相談可能な記事を登録してみましょう</h3>
            <form method="POST">
                {% csrf_token %}
                {% for field, error in form.errors.items %}
                <h1>{{error|striptags}}</h1>
                <h2>{{field}}</h2>
                {% endfor %}
                <div class="item_container">
                    <div class="user_info_wrapper">
                        <h2>▼必須入力項目</h2>
                        <!-- 必須入力の項目についてはこっちの要素div内に入れる -->
                        <div class="form_item user_name_input">
                            <div class="username">
                                <label for="name">{{form.consult_window_title.label}}</label>
                                {{form.consult_window_title}}    
                            </div>
                            <div class="username">
                                <label for="name">{{form.consult_window_overview.label}}</label>
                                {{form.consult_window_overview}}    
                            </div>
                            <div class="username">
                                <label for="name">{{form.consult_price.label}}</label>
                                {{form.consult_price}}    
                            </div>
                            <div class="username">
                                <label for="name">{{form.archivement.label}}</label>
                                {{form.archivement}}    
                            </div>
                        </div>
                        
                    </div>

                    <div class="user_info_wrapper">
                        <h2>▼オプション入力項目</h2>
                        <!-- オプション入力の項目についてはこっちの要素div内に入れる -->
                        {{ BBB }}
                        {% for A in AAA %}
                        <p>{{A.created_at|date:"M j, Y"}}</p>
                        <p>test</p>
                        {% endfor %}
                        <!-- <div class="form_item">
                            <label for="name">{{form.industry_id.label}}</label>
                            {{form.industry_id}}                
                        </div>
                        <div class="form_item">
                            <label for="name">{{form.occupation_id.label}}</label>
                            {{form.occupation_id}}                
                        </div>
                        <div class="form_item">
                            <label for="name">{{form.position_id.label}}</label>
                            {{form.position_id}}                
                        </div> -->
                    </div>    
                </div>

                <div class="submit">
                    <input class="submit_btn" type="submit" name="next" value="確認">
                </div>
                
            </form>
        </div>
    </main>

    <footer>
        <div class="login_page_copyright"><p>©2021 ShareTech Co., Ltd., All rights reserved</p></div>
    </footer>
</body>