{% load static %}

{% for article in discover_article %}
<div class="article">
  <a href="#">
    <img src='{% static article.expert_icon_path %}' class="contain_img"/>
    <div class="discription">
      <h3>{{ article.title }}</h3>
      <div class="presenter_flex">
        <div class="presenter_info">
          <p>{{article.expert_companey}}</p>
        </div>
        <div class="presenter_info">
          <p>{{article.expert_name}}</p>
        </div>
      </div>
    </div>
  </a>
</div>
{% endfor %}
