{% extends 'sharetech/base.html' %}
{% load static %}
{% block main %}
<div class="split">
  <div class="split_item split_left">
    <div class="split_left_inner">
      <ul class="category_contena">
          {% for big_cat, small_cat_list in category_dict.items %}
          <li class="big_category">
            <input type="button" class="category_network" value={{big_cat}}>
            <div class="small_category">
              <ul>
              {% for small_cat in small_cat_list %}
                <li><a href="{% url 'category_filter' small_cat.0 %}">{{small_cat.1}}</a></li>
              {% endfor %}
              </ul>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="split_item split_right">
      {% block content %}
      {% endblock %}
  </div>
</div>
{% endblock %}
