{% extends 'sharetech/base_with_sidemenu.html' %}
{% load static %}

{% block head %}
<meta charset="UTF-8">
<meta name="discription" content="相談窓口詳細">
<title>Detail</title>
<link rel="stylesheet" href="{% static 'sharetech/css/top.css' %}">
<link rel="stylesheet" href="{% static 'sharetech/css/common.css' %}">
<link rel="stylesheet" href="{% static 'sharetech/css/consult_window_detail.css' %}">
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>
<script src="{% static 'sharetech/js/common.js' %}"></script>
<script src="{% static 'sharetech/js/apply_check.js' %}"></script>
{% endblock %}

{% block content %}
{% if editable == True%}
<div class="edit_btn">
    <a href="{% url 'consult_window_update' consult_window_id %}">相談窓口を編集する</a>
</div>
{% endif %}
<div class="consult_window">
    <div class="content">
        <div class="consult_window_info">
            <h2 class="title">
                {{title}}
            </h2>
            <p class="created_at">
                {{created_at|date:"Y-m-d"}}
            </p>
            <p class="expert">
                {{username}}
            </p>
            <div class="categories">
                {% for category in categories %}
                <p class="category">{{category}}</p>                
                {% endfor %}
            </div>
            <p class="overview">
                {{overview | linebreaksbr}}
            </p>
            <div class="apply_count">
                <p>これまで<span>{{applyed_num}}</span>人から相談を受けました</p>
            </div>
        </div>
        <div class="expert_info">
            <h2 class="title">専門家プロフィール</h2>
            <div class="expert_flex">
                <div class="expert_icon">
                    <img src="{% static icon_path %}" alt="">
                </div>
                <div class="expert_detail">
                    <p class="company">{{company}}</p>
                    <p class="name">{{username}}</p>
                    <p class="occupation">{{occupation}}</p>
                    <p class="introduction">
                        {{introduction | linebreaksbr}}
                    </p>
                </div>
            </div>
            <div class="expert_history">
                <h3 class="title">実績</h3>
                <p>
                    {{archivement | linebreaksbr}}
                </p>
            </div>
        </div>
        {% if  login_user_flg == 1 %}
        <div class="apply_btn">
            <button class="button disabled" disabled></button>
        </div>
        {% elif login_user_flg == 2 %}
        <div class="apply_btn">
            <button class="button waiting" disabled>申込中</button>
        </div>
        {% else %}
        <div class="apply_btn">
            <button class="button" redirect="{{schedulerUrl}}">申込に進む</button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'sharetech/_footer.html' %}
{% endblock %}
