<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="discription" content="ランディングページ">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'sharetech/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'sharetech/css/landing.css' %}">
    <link rel="stylesheet" href="{% static 'sharetech/css/scroll_animation.css' %}">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>
</head>

<body>
    <!-- レスポンシブ用ナビゲーション -->
    <!-- 他ページと合わせて作成予定 -->

    <!-- ナビゲーション -->
    <nav class="landing_nav" role="navigation">
        <div class="landing_logo">
            <a href="">
                <img src="{% static 'sharetech/img/logo_header.png' %}" alt="">
            </a>
        </div>
        <div class="landing_menu">
            <a class="link_product" href="">
                <p>プロダクト</p>
            </a>
            <a class="link_company_profile" href="">
                <p>会社概要</p>
            </a>
            <!-- <a class="link_news" href="/news/"> -->
            <a class="link_news" href="">
                <p>ニュース</p>
            </a>
            <a class="link_inquiry" href="https://www.wrike.com/form/eyJhY2NvdW50SWQiOjQzMzUzNjEsInRhc2tGb3JtSWQiOjU5OTYyNn0JNDc5MTY3NzYzNjk4Ngk3NjAxZDQyZTNlMDUwNmJmNTgwMzFlMWM5ZDVhODkyNThhNmEzYjlhMWM5MjlmMGNkN2E1YWVhNWE2MWYxNDgy">
                <p>お問い合わせ</p>
            </a>
            <a class="link_login" href="/login">
                <p>ログイン</p>
            </a>
        </div>
    </nav>

    <main>
        <!-- トップメッセージ -->
        <div class="landing_top">
            <div class="landing_top_left">
                <div class="top_arround_img_left">
                    <img src="{% static 'sharetech/img/landing_top_1.png' %}" alt="">
                </div>
            </div>
            <div class="landing_top_center">
                <div class="top_message_block">
                    <h1 class="top_message">企業のテクノロジー活用に特化した</h1>
                    <h1 class="top_message">オープンナレッジプラットフォーム</h1>
                    <br />
                    <h4 class="top_message_sub">テクノロジーの分からない・見つからないをなくします</h4>
                </div>
                <div class="top_message_logo">
                    <div class="top_message_inner_logo">
                        <img src="{% static 'sharetech/img/logo.png' %}" alt="">
                    </div>
                    <div class="top_message_inner_title">ShareTech</div>
                </div>
                <div class="top_message_link">
                    <div class="entry_button">
                        <input type="button" class="find_button" title="Find Expert" value="専門家を探す（登録無料）"
                            onclick="location.href='/register/'">
                    </div>
                    <div class="spacer"></div>
                    <div class="entry_button">
                        <input type="button" class="become_button" title="Become Expert" value="専門家になる（登録無料）"
                            onclick="location.href='/register/'">
                    </div>
                </div>
                <div class="top_message_other_link">
                    <a class="link_create_consdesk"
                        href="https://www.wrike.com/form/eyJhY2NvdW50SWQiOjQzMzUzNjEsInRhc2tGb3JtSWQiOjU5OTYyNn0JNDc5MTY3NzYzNjk4Ngk3NjAxZDQyZTNlMDUwNmJmNTgwMzFlMWM5ZDVhODkyNThhNmEzYjlhMWM5MjlmMGNkN2E1YWVhNWE2MWYxNDgy">
                        <h5>法人で相談窓口を設けたい方はこちら</h5>
                    </a>
                </div>
            </div>
            <div class="landing_top_right">
                <div class="top_arround_img_right">
                    <img src="{% static 'sharetech/img/landing_top_2.png' %}" alt="">
                </div>
            </div>
        </div>

        <div class="info_body">
            <!-- 訴求メッセージまとめ -->
            <div class="landing_appeal_message sa sa–-lr">
                <div class="title_layer">
                    <h1 class="title">
                        ShareTech でできること
                    </h1>
                </div>
                <div class="body_layer">
                    <div class="item_block">
                        <div class="item">
                            <div class="item_img">
                                <img src="{% static 'sharetech/img/landing_appeal_1.png' %}" alt="">
                            </div>
                            <h3 class="item_subtitle">
                                1. 業務課題の解決策を発見
                            </h3>
                            <p class="item_message">
                                企業の業務上の課題解決に関するナレッジが ShareTec 内でオープンソース化されています。検索で「見つからない」を無くします。
                            </p>
                        </div>
                        <div class="spacer"></div>
                        <div class="item">
                            <div class="item_img">
                                <img src="{% static 'sharetech/img/landing_appeal_2.png' %}" alt="">
                            </div>
                            <h3 class="item_subtitle">
                                2. テクノロジー専門家に相談
                            </h3>
                            <p class="item_message">
                                あらゆる分野のテクノロジー専門家に気軽に相談ができます。「モノ作り/サービス開発/利用」あらゆる観点で、もう相談先に悩む必要はありません。
                            </p>
                        </div>
                        <div class="spacer"></div>
                        <div class="item">
                            <div class="item_img">
                                <img src="{% static 'sharetech/img/landing_appeal_3.png' %}" alt="">
                            </div>
                            <h3 class="item_subtitle">
                                3. テクノロジー専門家になる
                            </h3>
                            <p class="item_message">
                                あなたのテクノロジーに関する専門性を必要とする人がいます。個人/法人問わず、あらゆる分野のテクノロジー専門性を発揮してみませんか？
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- How to use -->
            <div class="how_to_message sa sa–-lr">
                <div class="title_layer">
                    <h1 class="title">
                        ShareTech の使い方
                    </h1>
                </div>
                <div class="body_layer">
                    <div class="step_block">
                        <div class="step_img">
                            <img src="{% static 'sharetech/img/landing_howto_client.png' %}" alt="">
                        </div>
                        <div class="step_detail">
                            <div class="step_title">
                                <h2>相談者の使い方　～３ステップ～</h2>
                            </div>
                            <div class="step_explanation">
                                <p>1. 業務上の悩み/課題をシェアしよう！些細なことでもOK！</p>
                                <p>2. 自身の悩みをベースに解決策の検索や専門家に相談しよう！</p>
                                <p>3. 悩みや専門家との相談概要・結果をもとにレビューをシェアしよう！</p>
                            </div>
                        </div>
                    </div>
                    <div class="step_block">
                        <div class="step_img">
                            <img src="{% static 'sharetech/img/landing_howto_expert.png' %}" alt="">
                        </div>
                        <div class="step_detail">
                            <div class="step_title">
                                <h2>専門家の使い方　～３ステップ～</h2>
                            </div>
                            <div class="step_explanation">
                                <p>1. 専門性や実績を書いてみよう！</p>
                                <p>2. 相談窓口を作ってみよう！</p>
                                <p>3. 専門記事やナレッジをシェアしよう！</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 訴求メッセージ詳細1 -->
            <div class="appeal_info sa sa–-lr">
                <div class="title_layer">
                    <h1 class="title">
                        信頼できる専門家に<br />
                        "現場"からすぐに相談できる
                    </h1>
                </div>
                <div class="body_layer">
                    <div class="appeal_detail">
                        <div class="appeal_img">
                            <img src="{% static 'sharetech/img/landing_appeal_4.png' %}" alt="">
                        </div>
                        <div class="spacer"></div>
                        <div class="appeal_message">
                            <div class="subtitle">
                                <h2>専門家に気軽に相談しよう</h2>
                            </div>
                            <div class="detail_message">
                                <p>こんなことはありませんか？<br>
                                    ShareTec の専門家に相談すれば、<br>
                                    業務上の課題管理から解決策実行まですぐにできます。</p>
                                <p>・リモートワークで他メンバーの仕事状況の可視化が悩み<br>
                                    ・ABC サービス開発でヘルスケア領域の知見を取り入れたい<br>
                                    ・SDGs 関連を業務に取り入れてと言われたが、Web で調べても欲しい情報が見当たらない</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 訴求メッセージ詳細2 -->
            <div class="appeal_info sa sa–-lr">
                <div class="title_layer">
                    <h1 class="title">
                        相談者の業務上の悩みや課題に<br />
                        沿った"貴方だけ"のナレッジシェア
                    </h1>
                    <div class="notification_card">
                        <p>ベータ版以降提供予定</p>
                    </div>
                </div>
                <div class="body_layer">
                    <div class="appeal_detail">
                        <div class="appeal_img">
                            <img src="{% static 'sharetech/img/landing_appeal_5.png' %}" alt="">
                        </div>
                        <div class="spacer"></div>
                        <div class="appeal_message">
                            <div class="subtitle">
                                <h2>課題を特定し、ナレッジを発見しよう</h2>
                            </div>
                            <div class="detail_message">
                                <p>業務上の悩みや課題に沿った<br>
                                    "貴方のため"の欲しい情報をシェアします。</p>
                                <p>さらに、「他相談者がどんな悩みや課題を抱え、シェアテックを通じてどんな専門家と出会い解決したのか」をナレッジとしてオープンソース化します。</p>
                                <p>相談者と専門家がシェアテックを通じて、オープンソース化された課題解決に関するナレッジにアクセス可能となります。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 訴求メッセージ詳細3 -->
            <div class="appeal_info sa sa–-lr">
                <div class="title_layer">
                    <h1 class="title">
                        あなたのテクノロジーに関する<br />
                        専門性が必要な人がいます
                    </h1>
                </div>
                <div class="body_layer">
                    <div class="appeal_detail">
                        <div class="appeal_message">
                            <div class="subtitle">
                                <h2>専門性を生かしてシェアテッカーヘ</h2>
                            </div>
                            <div class="detail_message">
                                <p>自分の専門分野を生かして、<br>
                                    スキマ時間で専門性を使って企業の課題整理・解決まで支援。</p>
                                <p>シェアテックならではのメリットもあります<br>
                                    - 企業（相談者）と専門家の非公開コミュニティ参加<br>
                                    - 相談者によるトップパフォーマー評価</p>
                                <p>大小問わず、あらゆる企業の業務課題に対して、<br>
                                    課題整理と解決策に関するナレッジをシェアすることで、<br>
                                    "ありがとう"に溢れる世界にしてみませんか？</p>
                            </div>
                        </div>
                        <div class="spacer"></div>
                        <div class="appeal_img">
                            <img src="{% static 'sharetech/img/landing_appeal_6.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <!-- NEWS -->
            <div class="news_area">
                <div class="news_title_layer">
                    <h1 class="title">
                        NEWS
                    </h1>
                </div>
                <div class="news_list_block">
                    <div class="area">
                        <input type="radio" name="tab_name" id="tab1" checked>
                        <label class="tab_class" for="tab1">すべて</label>
                        <div class="content_class">
                            <p>現在、ニュース記事はありません</p>
                        </div>
                        <input type="radio" name="tab_name" id="tab2">
                        <label class="tab_class" for="tab2">プレスリリース</label>
                        <div class="content_class">
                            <p>現在、ニュース記事はありません</p>
                        </div>
                        <input type="radio" name="tab_name" id="tab3">
                        <label class="tab_class" for="tab3">メディア掲載</label>
                        <div class="content_class">
                            <p>現在、ニュース記事はありません</p>
                        </div>
                        <input type="radio" name="tab_name" id="tab4">
                        <label class="tab_class" for="tab4">お知らせ</label>
                        <div class="content_class">
                            <p>現在、ニュース記事はありません</p>
                        </div>
                    </div>
                </div>
                <div class="news_button_area">
                    <!-- <input type="button" class="news_button" title="NEWS" value="NEWS一覧"
                        onclick="location.href='/news/'"> -->
                    <input type="button" class="news_button" title="NEWS" value="NEWS一覧"
                        onclick="location.href=''">
                </div>
            </div>
        </div>

        <!-- メッセージ再掲 -->
        <div>
            <div class="landing_bottom">
                <div class="title_layer">
                    <h1 class="title">
                        さあ、一緒に<br />
                        業務課題とテクノロジーをシンプルにしましょう
                    </h1>
                </div>
                <div class="bottom_body_layer">
                    <div class="campaign_card">
                        <p>アルファ版提供キャンペーン中<br>
                            先着50名まで期間限定で無料！</p>
                    </div>
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    <div class="bottom_message">
                        <div class="register_message">
                            <h4>アルファ版への登録開始は以下から！</h4>
                        </div>
                        <div class="bottom_message_link">
                            <div class="entry_button">
                                <input type="button" class="find_button" title="Find Expert" value="専門家を探す（登録無料）"
                                    onclick="location.href='/register/'">
                            </div>
                            <div class="entry_button">
                                <input type="button" class="become_button" title="Become Expert" value="専門家になる（登録無料）"
                                    onclick="location.href='/register/'">
                            </div>
                        </div>
                        <div class="bottom_message_other_link">
                            <a class="link_create_consdesk"
                                href="https://www.wrike.com/form/eyJhY2NvdW50SWQiOjQzMzUzNjEsInRhc2tGb3JtSWQiOjU5OTYyNn0JNDc5MTY3NzYzNjk4Ngk3NjAxZDQyZTNlMDUwNmJmNTgwMzFlMWM5ZDVhODkyNThhNmEzYjlhMWM5MjlmMGNkN2E1YWVhNWE2MWYxNDgy">
                                <h5>法人で相談窓口を設けたい方はこちら</h5>
                            </a>
                        </div>
                        <div class="bottom_message_other_link">
                            <a class="link_inquiry_bottom"
                                href="https://www.wrike.com/form/eyJhY2NvdW50SWQiOjQzMzUzNjEsInRhc2tGb3JtSWQiOjU5OTYyNn0JNDc5MTY3NzYzNjk4Ngk3NjAxZDQyZTNlMDUwNmJmNTgwMzFlMWM5ZDVhODkyNThhNmEzYjlhMWM5MjlmMGNkN2E1YWVhNWE2MWYxNDgy">
                                <h5>お問い合わせ全般はこちら</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <button type="button" class="back_to_top">
        <span>↑</span>
    </button>

    <!-- フッター -->
    <footer class="landing_page_footer">
        <div class="copy_write">
            <p>©2021 ShareTech Co., Ltd., All rights reserved</p>
        </div>
    </footer>
    <script src="{% static 'sharetech/js/landing.js' %}"></script>
</body>