<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="discription" content="ログインページ">
    <title>Login</title>
    
    <link rel="stylesheet" href="{% static 'sharetech/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'sharetech/css/login.css' %}">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>
    <script src="{% static 'sharetech/js/login.js' %}"></script>
</head>

<body>
    <header class="login_header">
        <h1>
            <img src="{% static 'sharetech/img/logo_login_page.png' %}">
        </h1>
    </header>

    <main>
        <!--ログインフォーム-->
        <div class="form_wrapper">
            {% if form.errors %}
            <div class="error_msg">
                {% for field, error in form.errors.items %}
                <p>{{error|striptags}}</p>
                {% endfor %}
            </div>
            {% else %}
            <h1>Login</h1>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                    {% for field in form %}
                    <div class="form_item">
                        <img src="{% static 'sharetech/img/input_valid_mark.png' %}">
                        {{field}}
                    </div>
                    {% endfor %}
                <div class="login_button">
                    <input type="submit" class="button" title="Sign In" value="ログイン">
                </div>
            </form>

            <!-- SSO未実装のため一時コメントアウト -->
            <!-- <h2>別のアカウントを使う</h2>
            <div class="oauth_link facebook">
                <img src="{% static 'sharetech/img/facebook_logo-Blue_58.png' %}" alt="facebook account">
                <p><a href="#">Sign in with Facebook</a></p>                
            </div> -->
            <div class="form_footer">
                <p><a href="{% url 'register' %}">Create an account</a></p>
                <p><a href="#">Forget password?</a></p>
            </div>
        </div>
    </main>

    <footer>
        <div class="login_page_copyright"><p>©2021 ShareTech Co., Ltd., All rights reserved</p></div>
    </footer>
</body>