<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="discription" content="仮登録完了">
    <title>Register Done</title>
    <link rel="stylesheet" href="{% static 'sharetech/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'sharetech/css/register.css' %}">
</head>

<body>
    <header class="register_header">
        <h1>
            申請完了
        </h1>
    </header>

    <main>
        <!--ログインフォーム-->
        <div class="form_wrapper">
            <p class="complete_pre_register">{{ message | linebreaksbr }}</p>
        </div>
    </main>

    <footer>
        <div class="login_page_copyright"><p>©2021 ShareTech Co., Ltd., All rights reserved</p></div>
    </footer>
</body>